.container{
    border:2px solid blue;
    height:80vh; 
    display:flex;
    flex-direction: row-reverse;

    justify-content: space-evenly;
    
    align-items: center;
}

.box{
    /* border:2px solid brown; */
}