.container{
    width:70vw;
    height:70vh;
    border: 2px solid orangered;
    background-color: orangered;

    display:flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    align-items: flex-end;

    position: relative;
    left: 170px;
    top:70px;
}
.box{
    height:25%;
    width:25%;
    border:2px solid whitesmoke;
    background-color: whitesmoke;
    margin-bottom: 25px;
}