*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
header{
    height:100vh;
    width:100vw;
    background-image: url("/images/jagan1.jpg");
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 12fr;
}

.portfolio{

    padding-left: 25px;
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end:2;
    color:aqua
}

.one{
    grid-row: 1/2;
    grid-column: 2/3;
}

.two{
    grid-row: 1/2;
    grid-column: 3/4;
}

.three{
    grid-row: 1/2;
    grid-column: 4/5;
}

.four{
    grid-row: 1/2;
    grid-column: 5/6;
}

.header-content{
    grid-row:2/3;
    grid-column:1/6;
}

.navigation{
    text-align: center;
}

.header-content p{
    line-height: 100px;
    font-weight: bolder;
    color:greenyellow;
    text-align: center;
}

header div{
    /*border: 2px solid chartreuse;*/
    margin: 10px;
    color:white
}

.navigation:hover{
    color:wheat;
    border-bottom: 2px solid red;
}

.container-2{
    height:100vh;
    width:100vw;
    background-color: black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 0.25fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.java{
    grid-column: 2/4;
    grid-row: 1/2;
}

.python{
    grid-row: 1/2;
    grid-column: 5/7;
}
.c{
    grid-row: 2/3;
    grid-column: 3/6;
}
.skills{
    /*border: 2px solid greenyellow;*/
    background-color:rgb(128, 128, 128);
    margin:10px;
    color:white
}

.skills img{
    padding-left: 100px;
}
.skills h1{
    padding-left: 140px;
}

.skills:hover{
    background-color:burlywood;
}

