header{
    height:500px;
    background-image: url("/images/cat2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    padding:0px;
}
ul li{
    display: inline-block;
    margin: 10px;
    border-left: 2px solid red;
}

ul{
    text-align: center;
}

ul li a{
    text-decoration: none;
    color:wheat;
}

ul li a:hover{
    border-bottom: 10px solid green;
    color:brown;
}

main img{
    padding-left: 400px;
    margin-top:-300px;
    border-radius: 10px;
}
